.card-form {
    padding: 20px 10px 0 10px;
    margin-bottom: 20px;
  }
  
  .card-form input {
    height: 50px;
  }
  
  .card-form button {
    margin: 20px 0 20px 0;
    max-width: 335px;
  }

  @media(min-width: 1200px) {
    .card-form {
        padding: 24px 33px 0 17px;
        margin-bottom: 20px;
      }
  }