.main-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-top: 18px;
  min-height: 70px;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #000000;
}

.main-nav h4 {
  font-size: 24px;
}

.nav-login-logout {
  margin-right: 50px;
}

.nav-login-logout {
  height: 30px;
  width: 97px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}

.nav-login-logout a {
  font-weight: bold;
}